# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alejhern <alejhern@student.42barcelon      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/02/27 21:13:38 by alejhern          #+#    #+#              #
#    Updated: 2025/03/26 18:37:26 by pafranco         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

libft
minishell
*.d
*.o
a.out
.old_parser_backup
pipex
